

body{
    margin:0;
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;                
}

h2{text-shadow: 1px 1px 1px gray}

#header {                
    background-color:#333;
    background-image:url(../images/totalbuy.png);                
    background-repeat: no-repeat;
    background-position: 40% center;
    background-size: 72px;
    color:white;
    text-align:center;
    padding:3px;
}

#nav {                
    background-color:#eeeeee;                
    padding:5px;
    font-size: smaller
}
#nav img{
    width: 28px;
}

a:link {
    color: #0000FF;
}

/* visited link */
a:visited {
    color: #0000FF;
}

/* mouse over link */
a:hover {
    background-color: #0000FF;
    color: wheat;
}

/* selected link */
a:active {
    color: #FF0000;
}
#section{
    float:left;
    width:15%;
}

#article {    
    background-color: bisque;
    width:65%;
    height: 68vh;
    overflow: auto;
    float:left;
    padding:10px;    
}

#aside{
    float:right;
    width:15%;
}

#footer {    
    background-color:#333;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;    
}

.productItem{display: inline-block;width:250px; height: 190px; overflow: hidden; text-overflow: ellipsis-word;
             background-color: wheat; box-shadow: 2px 2px 5px gray; font-size: smaller; padding: 5px; margin: 10px}

.productItem>img{float:left;background-color: transparent;}

table,th,td{border: thin solid lightgrey}